<form class="weather-form">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Latitude</mat-label>
      <input type="number" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Longitude</mat-label>
      <input type="number" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date range</mat-label>
      <input type="datetime-local" matInput>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary">Show on map</button>
    <button mat-raised-button color="primary">Compare weather</button>
  </div>
</form>
