:host {
  width: 70%;
}

.weather-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mat-raised-button {
  margin: 5px;
}

.mat-form-field {
  margin: 10px;
}

.map-container {
  width: 500px;
  height: 500px;
  margin: 20px;
}

.mat-checkbox {
  margin: 5px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}
